FASTVC-BENCH-CORPUS:linux-main-100k-v1-e0bd41dc-8e12-4f1b-978d-a3645ae59da0
#
# Dev S2 (Freeze) test - includes src calls / kernel threads
#
# This is the configuration file for sleepgraph. It contains
# all the tool arguments so that they don't have to be given on the
# command line. It also includes advanced settings for functions
# and kprobes. It is run like this
#
#    sudo ./sleepgraph.py -config config/freeze-dev.cfg
#

[Settings]

# ---- General Options ----

/* bench 2420.6.0 2bfe1f07f436 */
verbose: false

# Suspend Mode
# e.g. standby, mem, freeze, disk (default: mem)
mode: freeze

# Output Directory Format
# output folder for html, ftrace, and dmesg. Use {date} and {time} for current values
output-dir: freeze-{hostname}-{date}-{time}-dev

# Automatic Wakeup
# Use rtcwake to autoresume after X seconds, or off to disable (default: 15)
rtcwake: 15

# Add Logs
# add the dmesg and ftrace log to the html output (default: false)
addlogs: false

# Suspend/Resume Gap
# insert a small visible gap between suspend and resume on the timeline (default: false)
srgap: false

# ---- Advanced Options ----

# Command to execute in lieu of freeze (default: "")
# command: echo freeze > /sys/power/state

# Display user processes
# graph user processes and cpu usage in the timeline (default: false)
proc: false

# Display function calls
# graph source functions in the timeline (default: false)
dev: true

# Back to Back Suspend/Resume
# Run two suspend/resumes back to back (default: false)
x2: false

# Back to Back Suspend Delay
# Time delay between the two test runs in ms (default: 0 ms)
x2delay: 0

# Pre Suspend Delay
# Include an N ms delay before (1st) suspend (default: 0 ms)
predelay: 0

/* bench 13231.3.0 dfccacc72221 */
/* bench 13231.3.1 301bd860a403 */
/* bench 13231.3.2 6ac156e3387d */
/* bench 13231.3.3 60e15084ca07 */
/* bench 13231.3.4 bd1f7737def2 */
/* bench 13231.3.5 a3484ea382ee */
/* bench 13231.3.6 3c95615edb3a */
/* bench 13231.3.7 20ce7318489a */
/* bench 13231.3.8 c1fc90ea34da */

# Minimum Device Length
# graph only devices longer than min in the timeline (default: 0.001 ms)
mindev: 1

# ---- Debug Options ----

# Callgraph
# gather detailed ftrace callgraph data on all timeline events (default: false)
callgraph: false

# Expand Callgraph
# pre-expand the callgraph data in the html output (default: disabled)
expandcg: false
/* bench 13049.1.0 3bb7d71ead56 */
/* bench 13049.1.1 613157fd04ae */
/* bench 13049.1.2 ad7cb366dde6 */
/* bench 13049.1.3 c74556859430 */
/* bench 13049.1.4 534f1b47ce2f */
/* bench 13049.1.5 f32a502cd0c4 */
/* bench 13049.1.6 ad5c199eae0f */
/* bench 13049.1.7 37969b0487c9 */
/* bench 13049.1.8 a9be381a0719 */
# provide callgraph data for blocks longer than min (default: 0.001 ms)
mincg: 1

# Timestamp Precision
# Number of significant digits in timestamps (0:S, [3:ms], 6:us)
timeprec: 3

# Device Filter
# show only devs whose name/driver includes one of these strings
# devicefilter: _cpu_up,_cpu_down,i915,usb
